h1 {margin: 0px; line-height: 1;}
.typoPageWarp
{
    padding-top: 110px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    background-color: #ebebeb;
}
.blockWrap
{
    display: flex;
    flex-direction: column;
    align-content: center;
    max-width: 1400px;

}
.typobg
{
    width: 100%;
}
.simplelineW
{
    height: 1px;
    width: 100%;
    margin-bottom: 25px;
    background-color: #ffffff;
    margin-top: 10px;
}
.title2
{
    font-weight: 900;
    font-size: 100px;
    margin: 0px;
    margin-top: 50px;
}
.title1
{
    margin: 0px;
    font-family: Nunito;
}

.typoRowWarp
{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-top: 100px;
}

.typoRow
{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.typolable
{
    font-family: "Nunito", sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 14px;
}
.typotxt
{
    font-size: 55px;
    margin-top: 30px;
    font-family: "Nunito", sans-serif;
}
.typo-detail
{
    width: 600px;
    line-height: 1.6;
}
.showStyles
{
    float: right;
    margin-top: -40px;
}
.headerDefault {
    font-size: 16px;
    font-weight: 400;
    color: #64728c;
  }
  
  .headerMain {
    font-size: 46px;
    font-weight: 800;
    color: #38455d;
  }
  
  .titleMain {
    font-size: 18px;
    font-weight: 700;
    color: #38455d;
  }
  
  .titleSub {
    font-size: 12px;
    font-weight: 600;
    color: #929baa;
  }
  
  .headerCard {
    font-size: 16px;
    font-weight: 600;
    color: #64728c;
  }
  
  .subHeaderCard {
    font-size: 14px;
    font-weight: 600;
    color: #64728c;
  }
  
  .helpText {
    font-size: 12px;
    font-weight: 400;
    color: #929baa;
  }
  
  .textDefault {
    font-size: 14px;
    font-weight: 400;
    color: #64728c;
  }
  
  .textList {
    font-size: 12px;
    font-weight: 600;
    color: #64728c;
  }
  
  .oxdLinks {
    font-size: 12px;
    font-weight: 600;
    color: var(--primary-color); /* Replace with your theme's primary color or feedback blue color */
  }
  
  .paragraphText {
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    color: #64728c;
  }
/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }